* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #000000;
    font-family: 'Fira Code';
    color: #ffffff;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

section > div {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addTodo {
    background: #001100;
    border: none;
    font-size: 25px;
    padding: 10px;
    margin: 10px 0;
    color: #00FF00;
    border-radius: 5px;
    width: 100%;
    border-bottom: 3px solid #00FF00;
    flex-grow: 1;
}

#addTodo::placeholder {
    font-size: 18px;
    color: #00FF00;
}

button {
    font-size: 25px;
    background: #000000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    color: #00FF00;
    border: 2px solid #00FF00;
}

#todolist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.todo > p {
    width: 100%;
    background: #001100;
    border: none;
    font-size: 25px;
    padding: 10px;
    margin: 10px 0;
    color: #00FF00;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.done {
    text-decoration: line-through;
    background: #002200;
}

/* Media Queries */
@media (max-width: 768px) {
    nav {
        font-size: 30px;
    }

    #addTodo {
        font-size: 20px;
    }

    button {
        font-size: 20px;
    }

    .todo > p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    nav {
        font-size: 25px;
    }

    #addTodo {
        font-size: 18px;
    }

    button {
        font-size: 18px;
    }

    .todo > p {
        font-size: 18px;
    }
}
